@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  position: absolute;
  width: auto;
  left: 0;
  background: #1c1a19;
}

.desktop-navbar {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  padding: 0.625em;
  font-family: 'Roboto', sans-serif;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

#logo {
  width: 3.125em;
  height: auto;
  left: 0.75em;
  transform: rotate(360deg);
}

.icon {
  width: 5.625em;
  height: 1.75em;
  padding: 5% 0% 0% 0%;
  font-weight: 600;
  color: #ffff;
}

.mobile-menu {
  width: 100%;
  padding: 4%;
  height: 100%;
  background-color: hsla(20, 3%, 23%, 1);
  position: fixed;
  z-index: 9998;
  display: block;
}

.hidden {
  display: none;
}

.placeholder img {
  margin-top: 265px;
  margin-left: 24px;
}

.mobile-menu a img {
  float: right;
  margin: 5%;
}

.m-menu {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  text-decoration: none;
  padding: 3%;
  margin-top: 5%;
}

.marg {
  margin-top: 15%;
}

h1 {
  margin: 120px 24px 24px 24px;
}

p {
  margin: 2px 24px 24px 24px;
}

.Greetings {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.023em;
}

.Description1 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2em;
  display: flex;
  align-items: center;
}

.Description2 {
  color: #ffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  width: 10.636rem;
  gap: 0.5em;
  align-items: center;
  margin: 0% 0% 0% 7%;
}

.headline-tagline {
  height: 32.438em;
  background-image: url('./images/Group.png');
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  align-items: flex-start;
  bottom: -11.63%;
  left: 65.74%;
  right: -30.09%;
  top: 29.3%;
}

#MyRecentWorks {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
  text-align: center;
}

#hr-line {
  width: 94%;
  height: 0;
  border: 1px solid #212121;
  align-items: center;
  margin-left: 3%;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 0.625em;
  gap: 24px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.top-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#yoga-image {
  width: 94%;
  height: auto;
  margin-top: 56px;
  margin-left: 3%;
}

.butm-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 5px 0.625em 0.625em 20px;
}

.butm-div h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.butm-div p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.list1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 18px;
  gap: 0.625em;
}

.list2 li {
  list-style: none;
  background: rgba(255, 255, 255, 0.24);
  padding: 0.625em 0.75em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.list3 li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  list-style: none;
}

.butm-div .list1 li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  background: #fff;
  padding: 0.625em 0.75em;
}

.butm-div a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0.75em;
  background: #ff6b00;
  width: 124px;
  height: 48px;
  color: #fff;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0.625em;
  margin-left: 18px;
  white-space: nowrap;
}

.project_list {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: repeat(6, 24.125em);
  gap: 20px;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.project2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  flex-direction: column;
  text-align: left;
  background-image: url('./images/Placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.project2:hover {
  transform: scale(1.1);
}

.h3-show-desktop {
  display: none;
}

.project2 h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  max-width: 90%;
  margin-left: 3%;
}

.project2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  max-width: 80%;
  margin-left: 3%;
}

.list2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75em;
  margin-top: -20px;
  margin-left: 3%;
}

.project2 a {
  width: 100%;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0.75em;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 0.03em;
  margin-top: 14px;
  text-align: center;
}

.space {
  height: 7.875em;
  background-color: #fff;
  width: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.about-me h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 6%;
  margin-top: 18%;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-me a {
  padding: 0.75em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  width: 156px;
  height: 48px;
  margin-left: 24px;
}

#desk-hr-line {
  display: none;
}

.placeholder {
  background-image: url('images/frame.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 258.7px;
  left: 708.27px;
  margin-top: -40px;
}

.list3 {
  color: #fff;
  margin-top: 116px;
  margin-bottom: 87.54px;
}

.language,
.framework,
.skills {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.list3 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.button:focus {
  background: #e05304;
}

.button:disabled {
  background: #f4f1f0;
}

.contact-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.contact-form p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding-top: 69px;
  padding-bottom: 69px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  list-style: none;
  padding-bottom: 79px;
}

.contact-form form:hover {
  transform: translate(5%);
}

#name,
#email,
#msg {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
  padding-left: 16px;
  width: 327px;
  border: 0;
}

#name,
#email {
  border-bottom: 1px solid #dbd8d7;
}

#msg {
  background: #fbf8f7;
  height: 114px;
  padding-top: 0.625em;
  font-style: italic;
}

.contact-form button {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  border: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

/* footer section */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.footer-icons {
  display: flex;
  gap: 23px;
  list-style: none;
  justify-content: center;
  margin-top: 24px;
}

.longindicator {
  align-self: center;
  margin-top: 47px;
  margin-bottom: 11px;
}
